.not-found-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found-container {
  width: 90%;
  background-color: #272727;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: roboto;
}
.not-found-image {
  width: 400px;
  height: 400px;
}
.not-found-header {
  width: 100%;
}
